.App {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-10deg, transparent 20%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 80%, transparent 80%), url("./img/background.png");
}

.login-card {
    max-width: 500px;
    padding: 45px;
    background-color: transparent;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    border: none;
}

.login-logo {
    padding-bottom: 30px;
}

.login-input-field, .login-input-field::placeholder {
    opacity: 1;
    color: #3b3b3b;
    margin-bottom: 10px;
    height: 44px;
    font-size: 16px;
    direction: ltr;
    border-radius: 5px;
}

.login-remember-me-checkbox, .logout-label {
    color: white;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    min-height: 21px;
    font-weight: 400;
}

.login-remember-me-checkbox {
    cursor: pointer;
    padding-left: 25px;
}

.login-remember-me-checkbox-checked::before {
    content: "\2713";
}

.login-remember-me-checkbox-unchecked::before {
    content: "";
}

.login-remember-me-checkbox::before {
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 2px solid #eee;
    border-radius: 3px;
}

.login-forgotten-link {
    color: #ffc107;
    padding: 14px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.login-forgotten-link:active, .login-forgotten-link:active:hover, .login-forgotten-link:focus {
    color: #ffa601;
}

.plex-inline {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 62px;
    height: 20px;
    background-size: cover !important;
    background: transparent url("./img/plex-light.svg") no-repeat;
    transition: background .15s ease-in-out;
}

.btn-outline-warning:hover > .plex-inline, .btn-outline-warning:focus > .plex-inline, .btn-outline-warning:active > .plex-inline {
    background: transparent url("./img/plex-dark.svg") no-repeat;
}

.login-form {
    text-align: center;
}
